@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* Variables */
@use './partials/variables' as *;




body{
  font-family: 'Fira Sans', sans-serif;
}

.cm_active{
  color: $comics_primary;
  border-bottom: 4px solid $comics_primary;
}

.nav_menu{
  color: $comics_darker;
  font-weight: 500;
}

.jumbo_bg{
  background-color: $comics_darker;
  color: $comics_white;
  padding: 6rem 0;
  margin-bottom: 0;
}

#services{
  background-color: $comics_primary;
}

.service > a > img{
  height: 60px;
  padding-right: 1rem;
}

.service{
  color: $comics_white;
  padding: 3rem 0;
}

#app_footer{
  background-image: url(/src/assets/img/footer-bg.jpg);
  background-size: cover;
  padding: 3rem 0;
}

#app_footer h3{
  color: $comics_white;
}

#app_footer a{
  color: $comics_light_dark;
  text-decoration: none;
}

.footer_logo{
  top: 0;
  transform: translateY(-25%);
}

#footer_bottom{
  background-color: $comics_dark;
}

#footer_bottom img{
  height: 35px;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
  
}

#footer_bottom h3{
  color: $comics_primary;
}

